---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Wrong Page?">
	<main>
		<h1>You have encountered a 404</h1>
		<p class="instructions">
		    <small>If you were looking for the URL shortener, gone.</small>
		</p>
	</main>
</Layout>
