---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Wrong Page?">
	<main>
		<h1>You have encountered a 404</h1>
		<p class="instructions">
		    If you followed a link from the url shortener, head to <a href="https://short.mugman.tech">short.mugman.tech</a>
		</p>
	</main>
</Layout>
