---
const { title } = Astro.props;
import GlobalStyle from "../components/GlobalStyle.astro";
---

<html lang="en" class="bg-black dark text-white">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>mugman's website | {title}</title>
    <meta
      property="og:image"
      content="https://cdn.discordapp.com/avatars/601836455006044163/f7b4222bf779802370f445129027ad82.png"
    />
    <meta property="og:description" content="This is my website." />
    <meta property="og:title" content={`${title}`} />
    <GlobalStyle />
  </head>
  <body>
    <h1>{title}</h1>
    <div>
      <slot />
    </div>
    <footer class="fixed inset-x-0 bottom-0">
      <nav class="flex shrink-0 p-5 space-x-10 justify-center mx-auto">
        <a href="/">Home</a>
        <a href="/posts">Posts</a>
        <a href="/contact">Contact</a>
      </nav>
    </footer>
  </body>
</html>
